/* Google Fonts: Playfair Display & Lato     */
/* Playfair Display: Elegant serif for titles */
/* Lato: Clean sans-serif for body text      */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Lato:wght@400;700&display=swap');

/*CSS variables */
:root {
   
   --primary-font: "Playfair Display", cursive; /* Elegant serif for titles */
    --secondary-font: "Lato", sans-serif; /* Clean sans-serif for body text */
    --primary-color: #C0392B; /* Rich Tomato Red */
    --secondary-color: #2C3E50	; /* Charcoal Black */
    --highlight-color: #E67E22; /* Great for hover effects, warning badges, calorie labels */	
    --highlight-color-light: #27AE60;	/*	Ideal for “healthy”, “alt meat”, and success-style alerts */
}

/* Global Styles */
body {
    font-family: var(--secondary-font);
 
    
}

h1, 
h2, 
h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--highlight-color-light);
}

/* grid visualisation CSS for testing */

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;

/*Footer Styles */
}.footer-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

